<%
    console.log(page)
%>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8">
</head>
<body>
    <h1><%= page.posts.data[0].title %></h1>
    <article>
        <%- page.posts.data[0].content %>
    </article>
</body>
</html>
